<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".usdz" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".glb" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
